<header class="header">
  <div class="header__left">
    <div class="header__left--element" onclick="goToHomePage()">Timesheets</div>
  </div>
  <div class="header__middle"></div>
  <div class="header__right">
    <button class="header__right--element" id="index__loginButton" (click)="onLoginButtonClick()">Login</button>
    <button class="header__right--element" id="index__registerButton" (click)="onRegisterButtonClick()">Register
    </button>
    <button class="header__right--element" id="index__logOutButton" (click)="onLogOutButtonClick()">Log Out</button>
  </div>
</header>
