<header class="header">
  <div class="header__left">
    <div class="header__left--element" (click)="onHeaderClick()">Timesheets</div>
  </div>
  <div class="header__middle">
    <button *ngIf="user?.managerId" mat-raised-button color="primary" (click)="onNewTimeEntryButtonClick()">New Time Entry</button>
    <button *ngIf="user?.role === 1 && !isTimeEntriesLoaded" mat-raised-button color="primary" (click)="onTimeEntryTypesClick()">Time Entry Types</button>
    <button *ngIf="user?.role === 1 && isTimeEntriesLoaded" mat-raised-button color="primary" (click)="onCreateTimeEntryTypeClick()">Create New</button>
  </div>
  <div class="header__right">
    <ng-container *ngIf="!user">
      <button mat-raised-button color="primary" (click)="onLoginButtonClick()">Login</button>
      <button mat-raised-button color="primary" (click)="onRegisterButtonClick()">Register</button>
    </ng-container>
    <ng-container *ngIf="user">
      <div class="logged-in-user-message">You are logged in as: {{user.name}}</div>
      <button mat-raised-button color="primary" (click)="onLogOutButtonClick()">Log Out</button>
    </ng-container>
  </div>
</header>
