:host {
  display: flex;
  flex-direction: column;
  background: aliceblue;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid lightgray;
}

.header__left--element {
  font-size: 24px;
  margin-left: 1rem;
  cursor: pointer;
}

.header__middle {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
}

button {
  margin: 0.25rem;
}

.logged-in-user-message {
  display: flex;
  align-items: center;
}
