<form [formGroup]="formGroup" class="login-form">
  <div class="login-form__element">
    <label for="email">Email:</label>
    <input [formControlName]="loginFormControlName.Username" class="box" type="email" name="email" id="email" placeholder="Enter email">
  </div>

  <div class="login-form__element">
    <label for="password">Password:</label>
    <input [formControlName]="loginFormControlName.Password" class="box" type="password" name="password" id="password"
           placeholder="Enter your password">
  </div>

  <div class="login-form__buttons">
    <input class="login-form__buttons--button" type="submit" (click)="login()">
  </div>

  <div class="error" *ngIf="error">
    {{error}}
  </div>
</form>
