<form [formGroup]="formGroup" class="login-form">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input type="text" [formControlName]="loginFormControlName.Username" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" [formControlName]="loginFormControlName.Password" matInput>
    <mat-error *ngIf="formGroup.controls[loginFormControlName.Password].invalid">Password must be at least 6 symbols.</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="login()">Login</button>

  <div class="error" *ngIf="error">
    {{error}}
  </div>
</form>
