<form [formGroup]="formGroup" class="login-form">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input type="text" [formControlName]="loginFormControlName.Username" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" [formControlName]="loginFormControlName.Password" matInput>
  </mat-form-field>

  <div class="login-form__buttons">
    <input class="login-form__buttons--button" type="submit" (click)="login()">
  </div>

  <div class="error" *ngIf="error">
    {{error}}
  </div>
</form>
