* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: lightblue;
}

input {
  border: none;
  border-radius: 0;
  padding: 1rem;
}

.error {
  color: red;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
