* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: lightblue;
}

input {
  border: none;
  border-radius: 0;
  padding: 1rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

form {
  display: flex;
  flex-direction: column;
}
