<form [formGroup]="formGroup">
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input [formControlName]="timeEntryFormControlName.StartDate" matStartDate placeholder="Start date">
      <input [formControlName]="timeEntryFormControlName.EndDate" matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Hours</mat-label>
    <input type="number" [formControlName]="timeEntryFormControlName.Hours" matInput>
    <mat-error *ngIf="formGroup.controls[timeEntryFormControlName.Hours].invalid">You should select at least 1 hour.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <mat-select [formControlName]="timeEntryFormControlName.Type">
      <mat-option *ngFor="let timeEntryType of timeEntryTypes" [value]="timeEntryType">
        {{timeEntryType.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="formGroup.controls[timeEntryFormControlName.Type].invalid">You should select a type.</mat-error>
  </mat-form-field>`

  <button mat-raised-button color="primary" (click)="onTimeEntryCreate()">Create Time Entry</button>
</form>
