:host {
  display: flex;
  height: 85.8%;
  justify-content: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 1rem;
}

mat-form-field, button {
  margin: 0.5rem;
}
