<form [formGroup]="formGroup" class="register-form">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input type="text" [formControlName]="registerFormControlName.Name" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Manager</mat-label>
    <mat-select [formControlName]="registerFormControlName.ManagerId">
      <mat-option *ngFor="let user of users" [value]="user.id">
        {{user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input type="text" [formControlName]="registerFormControlName.Email" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input type="text" [formControlName]="registerFormControlName.Username" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" [formControlName]="registerFormControlName.Password" matInput>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="register()">Register</button>

  <div class="error" *ngIf="error">
    {{error}}
  </div>
</form>
